<section class="wellness-spotlight home-wellness section--B">
	<div class="container-lg px-4 py-5">
		<app-section
			[kicker]="'wellness.kicker' | t"
			[title]="'wellness.title' | t"
			[subtitle]="'wellness.subtitle' | t"
		>
			<app-split>
				<div split-content>
					<p class="wellness-spotlight__body">
						{{ 'wellness.body' | t }}
					</p>
					<app-feature-list [items]="features"></app-feature-list>
				</div>
				<div split-media class="wellness-spotlight__media">
					<app-media-card
						src="assets/img/romantic-guest-house/courtyard-chan/chan-03.jpg"
						[alt]="'wellness.mediaAlt' | t"
						[badge]="'wellness.mediaBadge' | t"
						[captionTitle]="'wellness.mediaTitle' | t"
						[captionText]="'wellness.mediaText' | t"
					></app-media-card>
				</div>
			</app-split>
		</app-section>
	</div>
</section>
