<header
	class="header"
	[class.header--transparent]="isHome && !isScrolled"
	[class.header--solid]="!isHome || isScrolled"
>
	<div class="header__container">
		<a class="header__logo" routerLink="/">
			<svg width="30" height="30" viewBox="0 0 118 94" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"/>
			</svg>
			<span class="header__logo-text">Romantic Guest House</span>
			<span class="header__logo-subtitle">Boutique Guest House</span>
		</a>

		<div class="header__overlay" [class.is-open]="isMenuOpen" (click)="closeMenu()"></div>
		<nav class="header__nav" [class.header__nav--open]="isMenuOpen">
			<a
				class="header__nav-link"
				routerLink="/"
				routerLinkActive="header__nav-link--active"
				[routerLinkActiveOptions]="{ exact: true }"
				(click)="closeMenu()"
			>
				Home
			</a>
			<a
				class="header__nav-link"
				routerLink="/rooms"
				routerLinkActive="header__nav-link--active"
				(click)="closeMenu()"
			>
				Rooms & Prices
			</a>
			<a
				class="header__nav-link"
				routerLink="/amenities"
				routerLinkActive="header__nav-link--active"
				(click)="closeMenu()"
			>
				Amenities
			</a>
			<a
				class="header__nav-link"
				routerLink="/location"
				routerLinkActive="header__nav-link--active"
				(click)="closeMenu()"
			>
				Location
			</a>
			<a
				class="header__nav-link"
				routerLink="/gallery"
				routerLinkActive="header__nav-link--active"
				(click)="closeMenu()"
			>
				Gallery
			</a>
			<a class="header__nav-cta btn btn-primary btn-sm" routerLink="/booking" (click)="closeMenu()">
				Request a booking
			</a>
		</nav>

		<div class="header__actions" (keydown.escape)="closeThemeMenu()">
			<button
				class="theme-toggle"
				type="button"
				(click)="toggleThemeMenu()"
				[attr.aria-expanded]="isThemeMenuOpen"
				aria-haspopup="true"
				aria-controls="theme-menu"
				aria-label="Choose theme"
			>
				<i class="bi bi-palette"></i>
				<span>Theme</span>
			</button>
			<div
				id="theme-menu"
				class="theme-popover"
				[class.is-open]="isThemeMenuOpen"
				role="menu"
			>
				<p class="theme-popover__label">Style</p>
				<div class="theme-segmented" role="radiogroup" aria-label="Theme">
					<button
						type="button"
						class="theme-option"
						[class.active]="theme.currentTheme() === 'light'"
						role="radio"
						[attr.aria-checked]="theme.currentTheme() === 'light'"
						(click)="setTheme('light')"
					>
						Light
					</button>
					<button
						type="button"
						class="theme-option"
						[class.active]="theme.currentTheme() === 'dark'"
						role="radio"
						[attr.aria-checked]="theme.currentTheme() === 'dark'"
						(click)="setTheme('dark')"
					>
						Dark
					</button>
					<button
						type="button"
						class="theme-option"
						[class.active]="theme.currentTheme() === 'itkp'"
						role="radio"
						[attr.aria-checked]="theme.currentTheme() === 'itkp'"
						(click)="setTheme('itkp')"
					>
						Itkp
					</button>
					<button
						type="button"
						class="theme-option"
						[class.active]="theme.currentTheme() === 'hotel'"
						role="radio"
						[attr.aria-checked]="theme.currentTheme() === 'hotel'"
						(click)="setTheme('hotel')"
					>
						Hotel
					</button>
				</div>
			</div>
		</div>

		<button
			class="header__hamburger"
			type="button"
			(click)="toggleMenu()"
			[attr.aria-expanded]="isMenuOpen"
			aria-label="Open menu"
		>
			<span class="header__hamburger-line"></span>
			<span class="header__hamburger-line"></span>
			<span class="header__hamburger-line"></span>
		</button>
	</div>
</header>
