<section class="featured-rooms section--A">
	<div class="container-lg px-4 py-5">
		<app-section
			[kicker]="'featuredRooms.kicker' | t"
			[title]="'featuredRooms.title' | t"
			[subtitle]="'featuredRooms.subtitle' | t"
		>
			<div section-actions>
				<a routerLink="/rooms" class="btn btn-outline-primary">{{ 'featuredRooms.cta' | t }}</a>
			</div>
			<div class="featured-rooms__grid">
				<app-list-item
					*ngFor="let product of displayProducts"
					[product]="product"
					variant="card"
				></app-list-item>
			</div>
		</app-section>
	</div>
</section>
