<section class="location-showcase section--A">
	<div class="container-lg px-4 py-5">
		<app-section
			[kicker]="'showcase.kicker' | t"
			[title]="'showcase.title' | t"
			[subtitle]="'showcase.subtitle' | t"
		>
			<app-split>
				<div split-content>
					<p class="location-showcase__text">
						{{ 'showcase.body' | t }}
					</p>
					<app-feature-list
						[items]="[
							'showcase.feature1',
							'showcase.feature2',
							'showcase.feature3'
						]"
					></app-feature-list>
					<div class="location-showcase__address">
						<i class="bi bi-geo-alt"></i>
						<span>{{ 'showcase.address' | t }}</span>
					</div>
					<a routerLink="/location" class="btn btn-outline-primary">{{ 'showcase.cta' | t }}</a>
				</div>
				<div split-media class="location-showcase__media">
					<div class="location-showcase__map">
						<iframe
							[title]="'showcase.mapLabel' | t"
							src="https://www.google.com/maps?q=Rus%27ka%20Street%203%2C%20Kamianets-Podilskyi%2C%20Ukraine&output=embed"
							loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"
						></iframe>
					</div>
					<a
						class="location-showcase__link"
						href="https://www.google.com/maps?q=Rus%27ka%20Street%203%2C%20Kamianets-Podilskyi%2C%20Ukraine"
						target="_blank"
						rel="noopener"
					>
						{{ 'showcase.mapLink' | t }}
					</a>
				</div>
			</app-split>
		</app-section>
	</div>
</section>
